*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('img/nick-hillier-yD5rv8_WzxA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffffa1;
}

.content{
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido-titulo{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.contenido-juego{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.juego-button button{
    padding: 0.5rem 2rem;
    background-color: #ffffffa1;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}